# secrets
settings.env
.env
.env.*

# python
__pycache__/
*.pyc
.venv/
.mypy_cache/
.pytest_cache/

# node
geomap-ui/node_modules/
geomap-ui/dist/
geomap-ui/.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# generated data / outputs
data/cache/
data/out/
data/db/*.sqlite*
data/db/*.sqlite
server/data/db/*.sqlite*
server/data/db/*.sqlite

# logs
logs/
*.log
